* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.newsletter {
    width: 90%;
    padding: 40px 20px;
    margin: 50px auto;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    text-align: center;
}

.newsletter h1 {
    color: #454545;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.newsletter p {
    color: #454545;
    font-size: 16px;
    margin-bottom: 20px;
}

.newsletter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newsletter input {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
    padding: 0 20px;
    font-size: 16px;
}

.newsletter div button {
    width: 100%;
    max-width: 210px;
    height: 50px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}


@media (min-width: 768px) {
    .newsletter {
        padding: 60px 40px;
    }

    .newsletter h1 {
        font-size: 40px;
    }

    .newsletter p {
        font-size: 18px;
    }

    .newsletter div {
        flex-direction: row;
        justify-content: center;
    }

    .newsletter input {
        width: 60%;
    }

    .newsletter div button {
        width: 30%;
    }

}


@media (min-width: 1024px) {

.newsletter {
    width: 65%;
    padding: 80px 140px;
}

.newsletter h1 {
    font-size: 55px;
}

.newsletter p {
    font-size: 20px;
}}